Nicolas Celik <nicolas.celik@epita.fr> <33205782+overmighty@users.noreply.github.com>
Skander Darghouth <skander.darghouth@epita.fr> <56806067+aledawizard@users.noreply.github.com>
Noah Contal <noah.contal@epita.fr> <113040278+NoahCONTAL@users.noreply.github.com>
